body {
    margin: 0px;
    .patrick-hand-regular {
        font-family: "Patrick Hand", cursive;
        font-weight: 400;
        font-style: normal;
      }
    .rampart-one-regular {
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    border-left: 100px;
    border-bottom: 50px;
    background-image: url("sea.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow: hidden;
    user-select: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#marquee {
    color: rgb(255, 255, 255);
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-weight: bold;
    -webkit-text-stroke-width: .01vw;
    -webkit-text-stroke-color: black;
    letter-spacing: .5vw;
    width: 1000vw;
    overflow: hidden;
    position: relative;
    font-size: 5vw;
    animation: lefttextscroll infinite 30s linear;
    user-select: none;
}

@keyframes lefttextscroll {
    from{left: 0vw;}
    to{left: -143vw}
}

#container {
    position: absolute;
    align-self: center;
    align-items: center;
    animation: row 30s infinite, rotate 1s infinite;
    top: 40vh;
    transform-origin: 35vw 35vh;
}

#boat {
    background-image: url("boat.png");
    background-repeat:no-repeat;
    position: absolute;
    top: 100px;
    width: 600px;
    height: 300px;
    transform: rotate3d(1, 1, 1, -45deg);
    z-index: 4;
}

#shelf {
    position: absolute;
    border-color: white;
    border-width: 5px;
    border-style:solid;
    box-shadow: 20px 10px 10px rgb(117, 130, 138);
    transform: rotate3d(1, 1, 1, -12deg);
    z-index: 5;
}


@keyframes rotate {
    0%, 100% { transform: rotate(-1deg); }
    50% { transform: rotate(1deg);}
}

@keyframes row {
    0% {
        bottom: 40vh;
        left: -100vw;
    }
    20% {
        bottom: 60vh;
        left: 25vw;
    }
    80% {
        bottom: 60vh;
        left: 25vw;
    }
    100% {
        bottom: 70vh;
        left: 110vw;
    }
}

#rect, #rect2, #rect3, #rect4, #rect5 {
    position: relative;
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    text-align: center;
    font-family:'Segoe UI', sans-serif;
    font-weight: bold;
    user-select: none;
}

#readingResponses {
    position: relative;
    height: 80px;
    width: 100px;
    background-color: black;
    color: white;
    text-align: center;
    font-family:'Segoe UI', sans-serif;
    cursor: grab;
}

#readingResponses:hover {
    background-color: rgb(32, 73, 48);
}

[id^="s1a"], [id^="s2a"], [id^="s3a"] {
    position: relative;
    color: white;
    height: 40px;
    width: 100px;
    font-family:'Segoe UI', sans-serif;
    text-align: center;
    background-color: rgb(13, 37, 40);
}

[id^="s1a"]:hover, [id^="s2a"]:hover, [id^="s3a"]:hover {
    background-color: rgb(32, 68, 73);
    cursor:grab;
}

#playIcon {
    position: absolute;
    width: 5vw;
    height: auto;
    bottom: 20px;
    left: 20px;
    cursor:grab;
    transform:scaleX(0.9);
}

#muteIcon {
    position: absolute;
    width: 4vw;
    height: auto;
    bottom: 25px;
    left: 20px;
    cursor:grab;
    visibility: hidden;
    transform:scaleY(0.9);
}

#playIcon:hover, #muteIcon:hover {
    transform: scale(1.1);
}